<div class="card mt-2">
    <div class="card-header">Employee details</div>
    <div class="card-body">
      <ul>
          <li>Name: {{employee?.name}}</li>
          <li>Email: {{employee?.email}}</li>
          <li>start date: {{employee?.startDate}}</li>
      </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-outline-warning m-1 btn-sm" (click)="onGoToEdit(employee)" >Edit</button>
        <button class="btn btn-outline-secondary m-1 btn-sm">Delete</button>
        <button class="btn btn-outline-info m-1 btn-sm" (click)="onGoToList()">go to list</button>
    </div>
</div>