<div class="table-responsive">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Lastname</th>
            <th scope="col">Email</th>
            <th scope="col">Start date</th>
            <th class="d-done d-sm-block" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>         
          <tr class="table-primary" *ngFor="let item of employee$ | async ">
            <th scope="row">{{ item.name }}</th>
            <td scope="row">{{ item.lastname }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.startDate}}</td>
            <td class="btn-group d-done d-sm-block" role="group">
                <button type="button" class="btn btn-secondary mr-2">Delete</button>
                <button type="button" class="btn btn-info mr-2" (click)="onGoToDetail(item)" >See</button> 
                <button type="button" class="btn btn-warning" (click)="onGoToEdit(item)">Update</button>                 
            </td>
          </tr>     
        </tbody>
      </table>
</div>